<!DOCTYPE html>
<html lang="en" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pelipeliculas</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Mi propio CSS -->
    <link href="/CSS/estilos.css?v=2" rel="stylesheet">

  
</head>

<body>

    <!-- ===== HEADER / NAVBAR ===== -->
    <header data-bs-theme="dark">

        <!-- Menú colapsable -->
        <div class="collapse text-bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">

                    <div class="container mb-4" >
                        <div class="row justify-content-center">
                             <div class="col-md-8">
                                 <div class="input-group" id="container_mb-4">
                                    <select class="form-select" id="criterioBusqueda" style="max-width: 150px;">
                                     <option value="titulo">Título</option>
                                     <option value="genero">Género</option>
                                     <option value="director">Director</option>
                                     <option value="anio">Año</option>
                                    </select>
                <input type="text" class="form-control" id="valorBusqueda" 
                       placeholder="Buscar en el catálogo...">
                <button class="btn btn-outline-secondary" onclick="limpiarBusqueda()">
                    ✕
                </button>
            </div>
        </div>
    </div>
</div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Barra de navegación -->
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Pelipeliculas</strong>
                </a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

    </header>

    <!-- ===== CONTENIDO PRINCIPAL ===== -->
    <main>

        <!-- Sección de título -->
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">CATALOGO COMPLETO</h1>
                    <p class="lead text-body-secondary">
                        Da click aquí para agregar mas peliculas al catalogo
                    </p>
                    <p>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTmdb">     + Agregar       </button>
                        
                    </p>
                </div>
            </div>
        </section>



        <!-- Modal Agregar pelicula por TMDB -->
<div class="modal fade" id="modalTmdb" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar película desde TMDB</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <!-- Campo de búsqueda -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="busquedaTmdb" 
                           placeholder="Buscar película en TMDB...">
               <button class="btn btn-primary" id="btnBuscarTmdb">Buscar</button>
                </div>

                <!-- Mensaje de estado -->
                <div id="mensajeTmdb" class="alert d-none"></div>

                <!-- Resultados -->
                <div id="resultadosTmdb" class="row row-cols-2 row-cols-md-3 g-2">
                </div>

            </div>
        </div>
    </div>
</div>
        <!-- Grilla de cards -->
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
               <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="grillaPeliculas">
    <div class="col" th:each="pelicula : ${peliculas}">
        <div class="card shadow-sm">
            <div class="card-img-container">
                <img th:src="@{/imagen(url=${pelicula.urlPoster})}" class="card-img-blur" alt="">
                <img th:src="@{/imagen(url=${pelicula.urlPoster})}" class="card-img-front" alt="">
            </div>
            <div class="card-body">
                <h5 th:text="${pelicula.titulo}"></h5>
                <p class="card-text" th:text="${pelicula.sinopsis}"></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    <small class="text-body-secondary" th:text="${pelicula.calificacionPromedio}"></small>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
<!-- ===== MODAL VER DETALLE ===== -->
<div class="modal fade" id="modalDetalle" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleTitulo"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Póster -->
                    <div class="col-md-4">
                        <div class="card-img-container" style="height:300px">
                            <img id="detallePoster" class="card-img-blur" alt="">
                            <img id="detallePosterFront" class="card-img-front" alt="">
                        </div>
                    </div>
                    <!-- Info -->
                    <div class="col-md-8">
                        <p><strong>Director:</strong> <span id="detalleDirector"></span></p>
                        <p><strong>Género:</strong> <span id="detalleGenero"></span></p>
                        <p><strong>Año:</strong> <span id="detalleAnio"></span></p>
                        <p><strong>Calificación:</strong> ⭐ <span id="detallePromedio"></span></p>
                        <p><strong>Sinopsis:</strong></p>
                        <p id="detalleSinopsis"></p>
                    </div>
                </div>

                <hr>

                <!-- Reseñas -->
                <div id="seccionResenas">
                    <h6>Reseñas</h6>
                    <div id="listaResenas"></div>
                    <button class="btn btn-outline-primary btn-sm mt-2" 
                            onclick="mostrarFormularioResena()">
                        + Dejar reseña
                    </button>
                </div>

                <!-- Formulario de reseña - oculto inicialmente -->
                <div id="formularioResena" class="d-none">
                    <h6>Nueva reseña</h6>
                    <div class="mb-2">
                        <label class="form-label">Tu nombre</label>
                        <input type="text" class="form-control" id="resNombre" 
                               placeholder="Tu nombre">
                        <div class="text-danger d-none" id="errorNombre">El nombre es obligatorio</div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Comentario</label>
                        <textarea class="form-control" id="resComentario" rows="3" 
                                  placeholder="Escribe tu reseña..."></textarea>
                        <div class="text-danger d-none" id="errorComentario">El comentario es obligatorio</div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Calificación (1-5)</label>
                        <input type="number" class="form-control" id="resCalificacion" min="0" max="5" placeholder="0 a 5" step="0.1">
                        <div class="text-danger d-none" id="errorCalificacion">La calificación debe estar entre 1 y 5</div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="resFecha">
                        <div class="text-danger d-none" id="errorFecha">La fecha es obligatoria</div>
                    </div>
                    <div class="d-flex gap-2 mt-2">
                        <button class="btn btn-primary" onclick="guardarResena()">Guardar</button>
                        <button class="btn btn-secondary" onclick="cancelarResena()">Volver</button>
                    </div>
                    <div id="mensajeResena" class="alert d-none mt-2"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ===== MODAL EDITAR ===== -->
<div class="modal fade" id="modalEditar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar película</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="editId">
                <input type="hidden" id="editUrlPoster">
                <input type="hidden" id="editCalificacion">
                <div class="mb-2">
                    <label class="form-label">Título</label>
                    <input type="text" class="form-control" id="editTitulo">
                    <div class="text-danger d-none" id="errorEditTitulo">El título es obligatorio</div>
                </div>
                <div class="mb-2">
                    <label class="form-label">Género</label>
                    <input type="text" class="form-control" id="editGenero">
                </div>
                <div class="mb-2">
                    <input type="hidden" class="form-control" id="editAnio" >    
                </div>
                <div class="mb-2">
                    <input type="hidden" class="form-control" id="editDirector">
                </div>
                <div class="mb-2">
                    <label class="form-label">Sinopsis</label>
                    <textarea class="form-control" id="editSinopsis" rows="3"></textarea>
                </div>
                <div id="mensajeEditar" class="alert d-none mt-2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                        data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" 
                        onclick="guardarEdicion()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- ===== MODAL ELIMINAR ===== -->
<div class="modal fade" id="modalEliminar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar película</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro que quieres eliminar 
                   <strong id="eliminarNombre"></strong>?</p>
                <p class="text-danger">Esta acción eliminará también todas sus reseñas.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                        data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" 
                        onclick="confirmarEliminar()">Eliminar</button>
            </div>
        </div>
    </div>
</div>
    </main>

    <!-- ===== FOOTER ===== -->
    <footer class="text-body-secondary py-5">
        <div class="container" data-bs-theme="dark">
           
        </div>
    </footer>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/JS/app.js" ></script>
</body>
</html>